 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>TAG</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> #댕댕이 #프렌치불독 #강아지 #조으다 #손그림 #달력 #시리즈 #색연필 #일러스트 #강쥐 #그림그리기 #프렌치불독 #치와와 #푸들 #귀욤귀욤 #크리스마스 #강아지 #친구들 #댕댕이들 #색연필화 #색연필일러스트 #색연필그림 </p>
                </div>
                <div class="col-lg-4">
                    <p>#frenchbulldog #dog #法斗 #いぬ #♥ #coloredpencil #illustration #puppy #frenchbulldog #poodle #chiwawa #cute #friends #christmas #2019 #happynewyear</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
